
  <header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
      <div class="container">
        <a class="navbar-brand" href="#">Mi Marca</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <!-- Enlaces de navegación -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Acerca</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-bs-toggle="dropdown" aria-expanded="false">
                Más
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				
                <li><a class="dropdown-item" href="#">Login</a></li>
                <li><a class="dropdown-item" href="#">Registro</a></li>
				
                <li><hr class="dropdown-divider"></li>				
                <li><a class="dropdown-item" href="#">Soporte</a></li>
				
              </ul>
            </li>
			<li class="nav-item">
									<button class="btn btn-link nav-link" data-bs-toggle="modal"
										data-bs-target="#loginModal">Login</button>
								</li>

								<!-- Opción de Registro -->
								<li class="nav-item"><a class="nav-link"
									data-bs-toggle="modal" data-bs-target="#registrationModal"
									href="#">Registro</a></li>


								<!-- Carrito con badge de cantidad (inicialmente 0) -->
								<li class="nav-item"><a class="nav-link position-relative"
									href="verCarrito"> <i class="bi bi-cart"></i> <span
										class="position-absolute top-2  start-100 translate-middle badge rounded-pill bg-danger"
										th:text="${(carrito != null and carrito.items != null) ? #maps.size(carrito.items) : 0}"></span>
								</a></li>
			
          </ul>
          <!-- Formulario de búsqueda -->
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-light" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
		  

        </div>
      </div>
    </nav>
  </header>
